# Python
__pycache__/
*.py[cod]
*.so
.Python
.env
.venv/
venv/
env/
pip-wheel-metadata/
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/

# Editors/IDEs
.idea/
.vscode/
*.swp

# Databricks / Spark
metastore_db/
derby.log
spark-warehouse/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars

# OS
.DS_Store
Thumbs.db

